/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
  display: block;
  max-width: 300px;
  margin: auto;

  background: #eceff1;
  padding: 48px;
  border-radius: 16px;
}

.form-container .mat-form-field {
  width: 100%;
}

.form-container input {
  font-family: 'Sarabun', sans-serif !important;
}

.full-width {
  width: 100%;
}

.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}

.margin-top {
  margin-top: 16px;
}
